<%= form_with(model: [ @product, @product.comments.build ], local: true) do |form| %>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
    <% unless current_user.nil? %>
    <%= form.hidden_field :user_id, :value => current_user.id %>
    <% end %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
