<%= form_with model: @product, local: true do |form| %>

  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@product.errors.count, "error") %> prohibited
        this product from being saved:
      </h2>
      <ul>
        <% @product.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :category %><br>
    <%= form.text_field :category %>
  </p>

  <p>
    <%= form.label :price %><br>
    <%= form.text_field :price %>
    <%= form.hidden_field :user_id, :value => current_user.id %>
  </p>

  <p>
    <%= form.submit %>
  </p>


<% end %>
