<!-- Products -->
    <div class="col-lg-11 col-md-9 col-sm-8 col-xs-6" style="padding:50px 8px 8px 40px;">
        <!-- Featured Collection -->
        <div class="page-header">
          <% if current_user %>
            <%= link_to 'Add New Product', new_product_path, :class=> "btn btn-success float-right" %>
          <% end %>
          <h1>Products</h1>
        </div><hr>
        <br />
        <div class="row">
            <% @products.each do |product| %>
              <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                      <% if product.images.attached? %>
                          <%= image_tag(product.images.first, class: "col-lg-12 zoom", style: "height:250px") %>
                        <% else %>
                          <%= image_tag 'product.png', class: "col-lg-12 zoom", style: "height:250px" %>
                      <% end %>
                  <div class="text-center">
                      <h4><%= product.name %></h4>
                      <h6><%= product.price %> Rs</h6>

                      <%= link_to 'Show', product_path(product), :class => "btn btn-primary btn-sm" %>
                      <% if current_user && product.user == current_user %>
                        <%= link_to 'Edit', edit_product_path(product), :class => "btn btn-primary btn-sm"  %>
                        <%= link_to 'Destroy', product_path(product), :class => "btn btn-danger btn-sm",
                        method: :delete, data: { confirm: 'Are you sure?' } %>
                      <% else %>
                        <%= link_to "Add to Cart", product_line_items_path(product), method: :post, :class => "btn btn-success btn-sm" %>
                      <% end %>
                      <br><span class="badge badge-pill badge-secondary">
                        <%= pluralize(product.comments.count, "Comment") %>
                      </span>

                  </div>
              </div>
              <% end %>

        </div>

        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <hr />

    </div>
